[submodule "lollipop-vol5"]
	path = lollipop-vol5
	url = git@github.com:IGGG/lollipop-vol5.git
[submodule "lollipop-vol4"]
	path = lollipop-vol4
	url = git@github.com:IGGG/lollipop-vol4.git
[submodule "lollipop-vol6"]
	path = lollipop-vol6
	url = C:\\Users\\noob\\git\\iggg\\lollipop\\lollipop-vol6
[submodule "lollipop-vol7"]
	path = lollipop-vol7
	url = C:\\Users\\noob\\git\\iggg\\lollipop\\lollipop-vol7
[submodule "lollipop-vol8"]
	path = lollipop-vol8
	url = C:\\Users\\noob\\git\\iggg\\lollipop\\lollipop-vol8
